<div class="card mt-3">
    <div class="card-body">
      <h3>{{ isEditMode ? 'Edit User' : 'Add User' }}</h3>
      <form (ngSubmit)="saveUser()">
        <div class="mb-3">
          <label for="firstName" class="form-label">First Name</label>
          <input [(ngModel)]="user.firstName" name="firstName" class="form-control" id="firstName" required />
        </div>
        <div class="mb-3">
          <label for="lastName" class="form-label">Last Name</label>
          <input [(ngModel)]="user.lastName" name="lastName" class="form-control" id="lastName" required />
        </div>
        <div class="mb-3">
          <label for="registrationDate" class="form-label">Registration Date</label>
          <input [(ngModel)]="user.registrationDate" name="registrationDate" class="form-control" type="date" id="registrationDate" required />
        </div>
        <button type="submit" class="btn btn-success">{{ isEditMode ? 'Save Changes' : 'Add User' }}</button>
        <p></p>
        <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
      </form>
    </div>
</div>  