<div class="user-list">
    <button (click)="startAdding()">Add New User</button>
    
    <table>
      <thead>
        <tr>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Registration Date</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users; let i = index">
          <td>{{ user.firstName }}</td>
          <td>{{ user.lastName }}</td>
          <td>{{ user.registrationDate | date }}</td>
          <td>
            <button (click)="startEditing(user, i)">Edit</button>
            <p></p>
            <button (click)="deleteUser(i)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  
    <app-user-edit
      *ngIf="isEditorVisible"
      [user]="currentUser"
      [isEditMode]="isEditMode"
      (save)="saveUser($event)"
      (cancelEdit)="cancelEdit()"
    ></app-user-edit>
  </div>
  